@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-[#050505] text-white selection:bg-white selection:text-black;
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom Scrollbar for that premium feel */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #555; }

html {
  scroll-behavior: smooth;
}